<%= form_for(@grantee) do |f| %>
  <% if @grantee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grantee.errors.count, "error") %> prohibited this grantee from being saved:</h2>

      <ul>
      <% @grantee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :grant_amount %><br />
    <%= f.number_field :grant_amount %>
  </div>
  <div class="field">
    <%= f.label :grant_date %><br />
    <%= f.date_select :grant_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
