<% if notice %>
<div class="alert alert-success">
  <p id="notice"><%= notice %></p>
</div>
<% end %>


<div class="panel panel-default">
  <div class="panel-heading">
	<h4>Grantee</h4>
  </div>
  <div class="panel-body">
	<p>
	  <b>Name:</b>
	  <%= @grantee.name %>
	</p>

	<p>
	  <b>Address:</b>
	  <%= @grantee.address %>
	</p>

	<p>
	  <b>Grant amount:</b>
	  <%= @grantee.grant_amount %>
	</p>

	<p>
	  <b>Grant date:</b>
	  <%= @grantee.grant_date %>
	</p>
  </div>
</div>


<%= link_to 'Edit', edit_grantee_path(@grantee) %> |
<%= link_to 'Back', grantees_path %>
<br/><br/><br/><br/>
<h4>Grantee's Citizenship Classes</h4>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Instructor</th>
    <th>Delivery date</th>
    <th>Hours</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @citizenship_classes.each do |citizenship_class| %>
  <tr>
    <td><%= citizenship_class.name %></td>
    <td><%= citizenship_class.instructor %></td>
    <td><%= citizenship_class.delivery_date %></td>
    <td><%= citizenship_class.hours %></td>
    <td><%= link_to 'Show', grantee_citizenship_class_path(@grantee, citizenship_class) %></td>
    <td><%= link_to 'Edit', edit_grantee_citizenship_class_path(@grantee, citizenship_class) %></td>
    <td><%= link_to 'Destroy', [@grantee, citizenship_class], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Citizenship Class', new_grantee_citizenship_class_path(@grantee) %>
