<%= form_for([@grantee,@citizenship_class]) do |f| %>
  <% if @citizenship_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@citizenship_class.errors.count, "error") %> prohibited this citizenship_class from being saved:</h2>

      <ul>
      <% @citizenship_class.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :instructor %><br />
    <%= f.text_field :instructor %>
  </div>
  <div class="field">
    <%= f.label :delivery_date %><br />
    <%= f.date_select :delivery_date %>
  </div>
  <div class="field">
    <%= f.label :hours %><br />
    <%= f.number_field :hours %>
  </div>
  <div class="field">
    <%= f.label :grantee %><br />
    <%= @grantee.name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>